absl-py==0.7.0
astor==0.7.1
audioread==2.1.6
backcall==0.1.0
bleach==1.5.0
Click==7.0
colorama==0.4.1
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.3
enum34==1.1.6
falcon==1.2.0
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
html5lib==0.9999999
inflect==0.2.5
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
jieba==0.39
Jinja2==2.10
joblib==0.13.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
librosa==0.5.1
llvmlite==0.27.0
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.0.2
mistune==0.8.4
mock==2.0.0
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4
notebook==5.7.4
numba==0.42.0
numpy==1.14.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pbr==5.1.2
pexpect==4.6.0
pickleshare==0.7.5
pinyin==0.4.0
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
ptyprocess==0.6.0
pydub==0.23.1
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.7.5
python-mimeparse==1.6.0
pytz==2018.9
pywinpty==0.5.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
resampy==0.2.1
scikit-learn==0.20.2
scipy==0.19.0
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.11.2
traitlets==4.3.2
Unidecode==0.4.20
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
